/* src/css/navbar.css */
.navbar-container {
  width: 100%;
  background-color: #141e30;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #141e30;
  color: white;
  position: relative;
  flex-wrap: wrap;
}

.navbar-logo {
  font-size: 1.8rem;
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu {
  flex: 1;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-item a {
  color: #204ba1;
  text-decoration: none;
  font-weight: 500;
  list-style-type: none;
}

.nav-item a:hover {
  color: #61dafb;
}

.auth-buttons {
  display: flex;
  gap: 0.75rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #61dafb;
  background: transparent;
  color: #61dafb;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #61dafb;
  color: #141e30;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
 color: #e60000;
}

.search-header {
  background: #61dafb;
  margin: 1.5rem;
  border-top: 1px solid #f2f2f3;
  align-items: center;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.search-container {
  max-width: 700px;
  margin: auto;
}

.search-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.result-item {
  background: white;
  border: 1px solid #ddd;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.no-results {
  color: #888;
  text-align: center;
}

.auth-buttons a {
  margin-left: 0.75rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #61dafb;
}

/* Icons */
.auth-buttons a {
  font-size: 1.3rem;
}

/* Dropdown for desktop hover menus */
.nav-item.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #61dafb;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  background: #1c2735;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px #00000033;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  background: none;
  border: none;
  color: white;
  padding: 0.3rem 1rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
  background-color: #2e3b4e;
}

/* === Mobile-specific styles === */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Mobile-only dropdown styles */